.contact {
  padding: 2rem;
  text-align: center;
}

.contact-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-form {
  max-width: 500px;
  margin: auto;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-button {
  padding: 0.8rem 1.5rem;
  background-color: #0f0f0f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #6a11cb;
}
